<article class="<%= item.layout %>">
  <% if (item.photos){ %>
    <%- partial('post/gallery') %>
  <% } %>
  <div class="post-content">
    <header>
      <% if (item.layout != 'page'){ %>
        <!-- added by wangtao for new date style begin -->
        <div class="date-wrapper">
          <div class="date-shadow"></div>
          <div class="date-mask"></div>
          <div class="dateTitle">
            <span class="d"><%= item.date.toDate().getDate() %></span>
            <span class="ym"><%= item.date.toDate().getMonth() + 1 %>/<%= item.date.toDate().getFullYear() %></span>
          </div>
        </div>
        <!-- added by wangtao for new date style end -->
        <!-- removed by wangtao for new date style begin -->
        <% if (0) { %>
        <div class="icon"></div>
        <time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time>
        <% } %>
        <!-- removed by wangtao for new date style end -->
      <% } %>
      <%- partial('post/title') %>
    </header>
    <div class="entry">
      <% if (item.excerpt && index){ %>
        <%- item.excerpt %>
      <% } else { %>
        <%- item.content %>
      <% } %>
    </div>
    <footer>
      <% if (index){ %>
        <% if (item.excerpt){ %>
          <div class="alignleft">
            <a href="<%- config.root %><%- item.path %>" class="more-link"><%= theme.excerpt_link %></a>
          </div>
        <% } %>
        <% if (item.comment && config.disqus_shortname){ %>
        <div class="alignright">
          <a href="<%- item.permalink %>#disqus_thread" class="comment-link">Comments</a>
        </div>
        <% } %>
      <% } else { %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
        <%- partial('post/share') %>
        <%- partial('post/bdshare') %>
      <% } %>
      <div class="clearfix"></div>
    </footer>
  </div>
</article>

<%- partial('comment') %>
